* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 3px;
  margin: 0;
}
window#waybar {
  background-color: rgba(30, 30, 46, 0.9);
  color: #ffffff;
}
